*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page{
  display: flex;
  background: url(img/harry-potter-34.jpg);
  background-position: center;
  background-attachment: fixed; /*fixed para que quede fija la imagen*/
  background-size: cover;
  flex-flow: column nowrap;
}

.fondo{
  background: rgba(0, 0, 0, 0.514);
}

.header{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

.titulo{
  font-family: 'Fontdiner Swanky';
  letter-spacing: 7px;
  font-size: 30px;
  line-height: 80px;
  color: rgb(255, 227, 102);
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.87);
}

.section{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.containerFilter{
  padding: 10px;
  margin-right: 20px;
  border-radius: 20px;
  display: flex;
  background-color: rgba(0, 0, 0,.7);
}

.aside{
  width: 150px;
  height: 100px;
  flex-direction: column;
  display: inline-flex;
  padding: 5px;
}

.aside label{
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: rgb(214, 212, 212);
  margin: 0px 0px 0px 10px;
}

.aside select{
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: #000;
  margin: 10px;
  border-radius: 5px;
}

.galery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 30px 0px 0px 0px;
}

.root{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #D8D2D2;
  padding: 10px 50px 0px 50px;
  margin: 0px 0px 20px 0px;
}

.foto{
  width: 150px;
  height: 150px;
  margin-top: -20%;
  margin-left: -23%;
  justify-content: center;
  align-content: center;
  object-fit: cover;
}

.tarjetas{
  float: left;
  width: 200px;
  height: 230px;
  padding: 50px ;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1% auto;
  margin-left: 1%;
  margin-right: 1%;
}

#name{
  font-family: 'Fontdiner Swanky';
  color: black;
  margin-left: -20%;
  justify-content: center;
  align-content: center;
  font-family: 'Courier New';
}

.piePagina{
  background: rgb(0, 0, 0, .7);
  height: 40px;

  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: 'Lucida Sans';
  font-size: 7px;
  line-height: 20px;
  color: #D8D2D2;
}

@media all and (max-width: 887px){
  .header{
    height: 200px;
  }
}

@media all and (max-width: 800px){
  .section{
    flex-wrap: wrap;
  }
  .page{
    padding: 50px 70px 30px 90px;
  }
  .tarjetas{
    margin-top: 150px;
  }
}

@media all and (max-width: 727px){
  .header{
    height: 250px;
  }
  }

  @media all and (max-width: 606px){
    .header{
      height: 400px;
    }
    .titulo{
      line-height: 100px;
    }
  }

  @media all and (max-width: 663px){
    .page{
      padding: 50px 70px 30px 90px;
    }
    .piePagina{
      height: 90px;
      width: 100%;
    }
  }
